---
layout: default
---

<section id="posts">

  <h1>Posts</h1>

  {% for post in paginator.posts %}

  <div class="row">
    <div class="col-sm-12">

      <article class="post">

        <div class="row">
          <div class="col-md-2 post-date">

            <h2 class="post-day">{{ post.date | date: "%d" }}</h2>
            <div class="post-month-year">{{ post.date | date: "%b" }}</div>
            <div class="post-month-year">{{ post.date | date: "%Y" }}</div>
            <!-- date -->

          </div>

          <div class="col-md-10">

            <h2 class="post-title">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <!-- title -->

            <div class="post-meta">
              <ul class="list-inline">
                <li>
                  {% if site.share.disqus %}
                  <a href="{{ site.url }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.path }}">0 Comments</a>
                  {% endif %}
                </li>
                <li>
                  <a href="//github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/blob/master/{{ post.path }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Edit this post on GitHub</a>
                </li>
              </ul>
            </div>
            <!-- meta -->

            <section class="post-content">
              <p>
              {{ post.excerpt | remove: '<p>' | remove: '.</p>' | append: '[...]' }}
              </p>
            </section>
            <!-- content -->

            {% if site.share.twitter or site.share.facebook or site.share.google_plus or site.share.linkedin %}
              {% include share.html %}
            {% endif %}
            <!-- share -->

            <div class="post-reading-link">
              <a href="{{ post.url }}">Continue reading&nbsp;<i class="fa fa-angle-double-right"></i></a>
            </div>
            <!-- reading link -->

          </div>
        </div>

      </article>
      <!--post-->

    </div>
  </div>

  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" role="button" class="btn btn-primary"><i class="fa fa-angle-double-left"></i>&nbsp;Previous</a>
    {% else %}
    <button type="button" class="btn btn-primary" disabled="disabled">&nbsp;Previous<i class="fa fa-angle-double-left"></i></button>
    {% endif %}
    <span class="page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" role="button" class="btn btn-primary">Next&nbsp;<i class="fa fa-angle-double-right"></i></a>
    {% else %}
    <button type="button" class="btn btn-primary" disabled="disabled">Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
    {% endif %}
  </div>
  <!-- pagination -->

</section>
