<header id="site-header">

    <div id="avatar-container">
      <a href="/">
        <img src="//avatars1.githubusercontent.com/u/5872815?v=2&s=460" class="img-rounded"/>
      </a>
      <p id="name">{{ site.title }}</p>
      <p id="intro">JavaScript software engineer</p>
    </div>

    <div id="nav-container">

      <nav>

        <ul class="list-unstyled">
          <li><a href="/"><i class="fa fa-file-text-o fa-fw"></i>&nbsp;<span>Posts</span></a></li>
          <li><a href="/about"><i class="fa fa-info fa-fw"></i>&nbsp;<span>About</span></a></li>
          <li><a href="//bernardopacheco.net/feed.xml" target="_blank"><i class="fa fa-rss fa-fw"></i>&nbsp;<span>RSS</span></a></li>
          <li><a href="//github.com/bernardopacheco" target="_blank"><i class="fa fa-github fa-fw"></i>&nbsp;<span>GitHub</span></a></li>
        </ul>

      </nav>

    </div>

    <footer>
      <a href="//github.com/bernardopacheco/bernardopacheco.github.io" target="_blank">Hosted with <i class="fa fa-heart"></i>&nbsp;by&nbsp;<i class="fa fa-github"></i></a>
    </footer>

</header>
