{% if isPage %}
  {% assign post = page %}
{% endif %}

<section class="post-share">

  <span class="share-title">Share on:</span>

  <ul class="share-social-medias list-inline">
    <li class="twitter-social-media">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url | prepend: site.url }}" data-text="{{ post.title }}">Tweet</a>
    </li>
    <li class="facebook-social-media">
      <div class="fb-share-button" data-href="{{ post.url | prepend: site.url }}" data-layout="button_count"></div>
    </li>
    <li class="google-plus-social-media">
      <div class="g-plusone" data-size="medium" data-href="{{ post.url | prepend: site.url }}"></div>
    </li>
    <li class="linkedin-social-media">
      <script type="IN/Share" data-url="{{ post.url | prepend: site.url }}" data-counter="right" data-showzero="true"></script>
    </li>
  </ul>

</section>
