aside {

  .card;
  margin-top: 78px;
  font-size: ( 14px / @font-size-base ) * 1em;

  h4 {
    margin-top: 22px;
  }

  ul {

    padding-left: 18px;
    font-size: @font-size-base;
    margin-bottom: 0;

    li {

      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: ( 14px / @font-size-base ) * 1em;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */

@media ( min-width: @screen-md-min ) {

  #page-content {
    margin: 0 0 0 @header-size;
  }
}
