// Text selection background color

::selection {

  background: @accent-200;
  color: @white;
}
::-moz-selection {

  background: @accent-200;
  color: @white;
}

// Paragraph

p {
  line-height: ( 24px / @font-size-base ) * 1em;
}

// Headings

h1, h2 {
  font-weight: 400;
}

// Link

a {

  color: @accent-400;

  &:hover {
    color: @accent-400;
  }
}
