// Text selection background color

::selection {
  background: @red-100;
}
::-moz-selection {
  background: @red-100;
}

// Paragraph

p {
  line-height: ( 24px / @font-size-base ) * 1em;
}

// Headings

h1, h2 {
  font-weight: 400;
}