// Text selection background color

::selection {

  background: @accent-200;
  color: @white;
}
::-moz-selection {

  background: @accent-200;
  color: @white;
}

// Paragraph

p {
  line-height: ( 32px / @font-size-base ) * 1em;
  margin-top: ( 30px / @font-size-base ) * 1em;
}

blockquote p {
  margin: 0 0 10px;
}

// Code block

pre {

  font-size: @font-size-base;

  code {
    font-family: monospace;
    font-size: ( 16px / @font-size-base ) * 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border: none;
  }
}

code {
  font-family: monospace;
  font-size: ( 14px / @font-size-base ) * 1em;
  background-color: @light-dividers;
  padding: 0px 5px 2px;
  border: 1px solid @dividers;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: @secondary-text;
  background-color: @white;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) {
  pre {
    font-size: 16px;
  }
}

// Headings

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
    font-size: ( 42px / @font-size-base ) * 1em;
}

h2 {
    font-size: ( 34px / @font-size-base ) * 1em;
    margin-top: ( 34px / @font-size-base ) * 1em;
}

h3 {
    font-size: ( 20px / @font-size-base ) * 1em;
}

h4 {
  font-size: ( 16px / @font-size-base ) * 1em;
}

h5 {
  font-size: ( 14px / @font-size-base ) * 1em;
}

// Link

a {

  color: @accent-400;

  &:hover, &:focus {
    color: @accent-400;
  }
}

input, textarea, button, a {
  transition: 0.2s color ease, 0.2s background ease;
}

figcaption {
  margin-top: 10px;
  font-size: ( 16px / @font-size-base ) * 1em;
  font-weight: 300;
  color: @text-color;
}