/* Extra small devices (phones) */

#posts {

  .post {

    background-color: @white;
    border: 1px solid @hint-text;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    padding: 14px;
    margin-bottom: 14px;

    .post-date {

      padding-right: 0;

      .post-day {

        color: @hint-text;
        display: inline-block;
        font-weight: bold;
        letter-spacing: -1px;
        margin-top: 0;
      }

      .post-month-year {

        color: @text-color;
        display: inline-block;
        font-weight: 600;
        font-size: 1.230em; // 16px / 13px = 1.230em
      }
    }

    .post-title {

      margin-top: 0;
      font-weight: bold;
      letter-spacing: -1px;

      a {

        color: @text-color;
        text-decoration: none;
      }
    }

    .post-body {
      color: @text-color;
    }

    .post-share {

      margin-top: 25px;

      .share-title {

        border-top: 1px solid @secondary-text;
        color: @secondary-text;
        font-weight: bold;
        padding-top: 10px;
      }

      .share-social-medias {
        margin-top: 10px;
      }
    }

    .post-reading-link {

      font-size: 1.076em; // 14px / 13px = 1.076em
      margin-top: 20px;

      a {
        color: @red;
      }
    }
  }
}


/* Medium devices (desktops, 992px and up) */

@media ( min-width: @screen-md-min ) {

  #posts {

    .post {

      .post-date {

        text-align: center;

        .post-day {
          display: block;
        }

        .post-month-year {
          display: block;
        }
      }
    }
  }
}


