/* Extra small devices (phones) */

.post {

  .card;

  .post-date {

    padding-right: 0;

    .post-day {

      color: @text-color;
      display: inline-block;
    }

    .post-month-year {

      color: @text-color;
      display: inline-block;
    }
  }

  .post-title {

    a {

      color: @text-color;
      text-decoration: none;
    }
  }

  .post-meta {

    font-size: ( 14px / @font-size-base ) * 1em;
    margin-bottom: 15px;

    a {
      color: @secondary-text;
    }
  }

  .post-content {
    color: @text-color;
  }

  .post-reading-link {

    font-size: ( 12px / @font-size-base ) * 1em;
    font-weight: 500;
    text-transform: uppercase;
  }
}

/* Medium devices (desktops, 992px and up) */

@media ( min-width: @screen-md-min ) {

  .post {

    .post-date {

      text-align: center;

      .post-day {
        display: block;
      }

      .post-month-year {
        display: block;
      }
    }
  }
}

/* Small devices (tablets, smartphones, until 768px) */

@media ( max-width: @screen-sm-max ) {

  .post-title {
    margin-top: 0;
  }
}
