---
layout: default
---

<section id="post">

  <h1>Posts</h1>

  <div class="row">
    <div class="col-sm-12">

      <article class="post">

        <div class="row">
          <div class="col-md-2 post-date">

            <h2 class="post-day">{{ page.date | date: "%d" }}</h2>
            <div class="post-month-year">{{ page.date | date: "%b" }}</div>
            <div class="post-month-year">{{ page.date | date: "%Y" }}</div>
            <!-- date -->

          </div>

          <div class="col-md-10">

            <h2 class="post-title">
              <a>{{ page.title }}</a>
            </h2>
            <!-- title -->

            <div class="post-meta">
              <a href="#disqus_thread">123 Comments</a>
              <a href="{{ site.github_url }}/bernardopacheco.github.io/blob/master/{{ page.path }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Edit this post on GitHub</a>
            </div>

            <section class="post-content">
              {{ content }}
            </section>
            <!-- content -->

            {% assign isPage = true %}
            {% include share.html %}
            <!-- share -->

            <footer class="post-footer">
              <div id="disqus_thread"></div>
            </footer>

          </div>
        </div>

      </article>

    </div>
  </div>

</section>

<script type="text/javascript">

  // Disqus widget

  var disqus_identifier = '{{ page.path }}',
    disqus_shortname = 'bernardopacheco',
    disqus_title = '{{ page.title }}',
    disqus_url = '{{ page.url | prepend: site.url }}';

  (function() {

    var dsq = document.createElement('script');

    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

    ( document.getElementsByTagName('head')[ 0 ] || document.getElementsByTagName('body')[ 0 ] ).appendChild( dsq );
  })();

</script>
